.container{
    text-align: center;
    margin-left: auto;
}
table{
    margin: auto;
}
h1{
    text-align: center;
}

input{
    font-size: 30px;
    height:20%;
    width: 90%;
    border: 2px solid rgb(32, 30, 30);
    padding:10px;
    border radius:10px;

}
button{
    font-size: 30px;
    height:80px;
    width:80px;
    background-color:rgb(231, 184, 206);
    color: black;
    border-radius: 10px;
}

.calculator{
    margin-left: 30%;
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    
}